
.loginarea{
	width: 80%;
	margin: auto;
}

.logo{
	width: 40%;
	display: block;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 12%;
}

.hrtag{
	color: rgba(255, 255, 255, 0.38);
}

.head{
	font-size: 30px;
	text-align: center;
	font-weight: 700;
}

.email, .password{
	width: 95%;
	height: 25px;
	border-radius: 4px;
	background-color: #dcdcdc;
	border: 1px solid #dcdcdc;
	padding: 3%;
}


.comment{
	font-size: 12px;
	text-align: right;
	color: red;
	margin-top: 1px;
	margin-bottom: -5px;
}


.btn-login{
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
	width: 100%;
	height: 40px;
	margin-top: -10px;
}

.btn-login:hover{
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #15792a;
}

.forgot-pasword{
	margin-right: 1%;
	float: right;
	font-size: 12px;
	margin-top: 5px;
}

.notregistered{
	margin-left: 1%;
	font-size: 12px;
	padding-bottom: 0px;
	float: left;
	margin-bottom: 3px;
}


button:not(:disabled) {
    cursor: pointer;
}


.btn-signup {
    font-size: 12px;
    background-color: #dcdcdc;
    width: 100%;
    margin-bottom: 15px;
	/* font-family: 'Open sans'; */
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #0e0d0d;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    
}

.btn-signup:hover{
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #279e43;
}

.about{
	text-align: center;
	
}

.green-color {
	color:green;
}



.advertisementarea{
	display: none;
	width: 69%;
	background-color: #c9e265;
}

.advertiseimage{
	width: 90%;
    object-fit: contain;
	/* display: block;
	margin: auto; */
	padding: 5%;
}


.login-follow {
    float: right;
}

.socialmediabox{
	width: 90%;
	padding: 5%;
	display: flex;
	justify-content: space-between;
}




@media(min-width:752px)
{
	.loginarea{
		width: 27%;
		display: block;
	}
	.advertisementarea{
		display: block;
		width: 68%;
	}
}

.loginpage{
	display: flex;
}